<html>
  <head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['time', '{{data[0].stat[0]['name']}}', 
          '{{data[0].stat[1]['name']}}', 
          '{{data[0].stat[2]['name']}}' , 
          '{{data[0].stat[3]['name']}}', 
          '{{data[0].stat[4]['name']}}'],
          {% for d in data %}
            ['{{ d.date}}', 
            {% for s in d.stat %}             
              {{ s.speed }},
            {% endfor %}],
          {% endfor %}          
          ]);

        var options = {
          title: 'Candidate Performance'
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="chart_div" style="width: 900px; height: 500px;"></div>   
  </body>
</html>