<html>
  <head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['time', '{{data[0].stat[0]['name']}}', 
          '{{data[0].stat[1]['name']}}', 
          '{{data[0].stat[2]['name']}}' , 
          '{{data[0].stat[3]['name']}}', 
          '{{data[0].stat[4]['name']}}'],
          {% for d in data %}
            ['{{ d.date}}', 
            {% for s in d.stat %}             
              {{ s.speed }},
            {% endfor %}],
          {% endfor %}          
          ]);

        var options = {
          title: 'Candidates Twitter Speed popularity (post/mins)  Date: {{time}}',
          vAxis: {title: '# post'},
          oAxis: {title: 'time'}
        };


        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="chart_div" style="width: 900px; height: 500px;"></div> 
    <div id='note' style="padding-left:10%">
        <p>
          <i>This graph shows the speed - to be intended - as the number of results for each canditate's name <br/>calling the twitter search api every hour</i>
        </p>
    </div>
    <br/>
    <div id='max_speed' style="padding-left:10%">
      <h4>Max Speed</h4>
      {% for s in max_speed %}
      - <b><span style=" width:80px; display:inline-block;">{{ s['_id'] }}</span></b>: {{ s['value'] }}
      <br/> 
      {% endfor %}   
    </div>

  </body>
</html>